<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksi.dao.AuthorMapper">
	<resultMap id="BaseResultMap" type="com.ksi.model.Author">
		<id column="Pk_Author_Id" jdbcType="INTEGER" property="pkAuthorId" />
		<result column="FullName" jdbcType="VARCHAR" property="fullname" />
		<result column="MobileNo" jdbcType="CHAR" property="mobileno" />
		<result column="Fk_Book_Id" jdbcType="INTEGER" property="fkBookId" />
	</resultMap>
	
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	
	<sql id="Base_Column_List">
		Pk_Author_Id, FullName, MobileNo, Fk_Book_Id
	</sql>
	
	<select id="selectByExample" parameterType="com.ksi.model.AuthorExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'false' as QUERYID,
		<include refid="Base_Column_List" />
		from Author
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from Author
		where Pk_Author_Id = #{pkAuthorId,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from Author
		where Pk_Author_Id = #{pkAuthorId,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.ksi.model.Author">
		insert into Author (Pk_Author_Id, FullName, MobileNo,
		Fk_Book_Id)
		values (#{pkAuthorId,jdbcType=INTEGER}, #{fullname,jdbcType=VARCHAR},
		#{mobileno,jdbcType=CHAR},
		#{fkBookId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ksi.model.Author">
		insert into Author
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pkAuthorId != null">
				Pk_Author_Id,
			</if>
			<if test="fullname != null">
				FullName,
			</if>
			<if test="mobileno != null">
				MobileNo,
			</if>
			<if test="fkBookId != null">
				Fk_Book_Id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pkAuthorId != null">
				#{pkAuthorId,jdbcType=INTEGER},
			</if>
			<if test="fullname != null">
				#{fullname,jdbcType=VARCHAR},
			</if>
			<if test="mobileno != null">
				#{mobileno,jdbcType=CHAR},
			</if>
			<if test="fkBookId != null">
				#{fkBookId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.ksi.model.Author">
		update Author
		<set>
			<if test="fullname != null">
				FullName = #{fullname,jdbcType=VARCHAR},
			</if>
			<if test="mobileno != null">
				MobileNo = #{mobileno,jdbcType=CHAR},
			</if>
			<if test="fkBookId != null">
				Fk_Book_Id = #{fkBookId,jdbcType=INTEGER},
			</if>
		</set>
		where Pk_Author_Id = #{pkAuthorId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ksi.model.Author">
		update Author
		set FullName = #{fullname,jdbcType=VARCHAR},
		MobileNo = #{mobileno,jdbcType=CHAR},
		Fk_Book_Id = #{fkBookId,jdbcType=INTEGER}
		where Pk_Author_Id = #{pkAuthorId,jdbcType=INTEGER}
	</update>
</mapper>